<div class="wrap found-film">
	<div class="container">
		<div class="row found-film__row">
			<div class="col-md-12">
				{{#link-to 'index' class="found-film__logo-link"}}<h2 id="title" class="found-film__logo"> <i class="glyphicon glyphicon-film"></i> Ищу фильм</h2>{{/link-to}}
			</div>
		</div>
	</div>
</div>
<div class="wrap search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="form-inline" role="search">
					<div class="form-group">
					  {{input value=query class='form-control search__input' placeholder="Введите название фильма" required="true"}}
					</div>
					<button class="btn btn-primary search__button" {{action 'search' query}}> <i class="glyphicon glyphicon-search"></i>  Искать</button>
				</form>
			</div>
		</div>
	</div>
</div>

{{outlet}}
