<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="http://image.tmdb.org/t/p/w500{{model.poster_path}}" 
			alt="{{model.title}}" class="img-responsive"/>
		</div>
		<div class="col-md-8">
			{{model.overview}}
		</div>
	</div>
</div>
{{outlet}}